/.vs/BetterSpadesX.Net/FileContentIndex
/.vs/BetterSpadesX.Net/v17
/BetterSpadesX.Net/BetterSpadesX.Net.csproj.user
/BetterSpadesX.Net/bin/Debug
/BetterSpadesX.Net/bin/Release
/BetterSpadesX.Net/obj/BetterSpadesX.Net.csproj.FileList.txt
/BetterSpadesX.Net/obj
